/* .center{
    /* position: absolute;
    height: 50%;
    width: 50%;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 40%;
    color: #04b3b3;
    font-size: 115%; 
} */
.darkmode{
    background-color: #14171f;
    position: absolute;
    height: 50%;
    width: 50%;
    margin: -100px 0 0 -200px;
    top: 20%;
    left: 40%;
    color: #04b3b3;
    font-size: 115%;
}
input[type="number"], textarea{
    background-color: #5a638a ;
}
h1, h2, a{
    text-align: center;
    color: #04b3b3
}
input, button
{
    color: #04b3b3;
    background-color: #161d30;
    border: 2px groove #222f52;
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04b3b3; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04b3b3; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }