.center{
    position: absolute;
    height: 50%;
    width: 50%;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 40%;
    color: #04b3b3;
    font-size: 115%;
}
.darkmode{
    background-color: #14171f;
}
input[type="number"], textarea{
    background-color: #5a638a ;
}
h1, h2, a{
    text-align: center;
    color: #04b3b3
}
input, button
{
    color: #04b3b3;
    background-color: #161d30;
    border: 2px groove #222f52;
}
/* #008080 - set font color */